@*@model Vidly.ViewModels.MovieFormViewModel*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Count == 0)
{
    @: No Movies
    <br />
    @Html.ActionLink("Add Movie", "New", null, new { @class = "btn btn-primary" })

}
else
{
    @Html.ActionLink("Random Movie", "Random", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Movie", "New", null, new { @class = "btn btn-primary ml-1" })
    <br />
    <br />
    <table id="movies" class="table table-bordered table-hover">
        <tr>
            <th>Title</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink((string)item.Name, "Movie", new { id = item.ID }, null)
                    <button class="btn btn-primary float-right" style="margin-left: 10px;" data-delete-name="@item.Name" data-delete-id="@item.ID">Delete</button>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "float-right" })
                </td>
            </tr>

        }

    </table>
}
<div id="modal-container">

</div>

@section scripts {
    <script>
        $('#movies').off().on("click", "[data-delete-name]", function () {
            var _this = $(this);

            sjModal.confirm("Are you sure you want to delete " + _this.attr("data-delete-name") + " from Vidly", function (result) {
                if (result) {
                    $.ajax({
                        url: "/API/Movies/" + _this.attr("data-delete-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("success")
                            _this.parents("tr").remove();
                        }
                    });
                }
            });
        });

    </script>
}