@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
}

<h2>@(Model.Customer.ID > 0 ? "Edit Customer" : "New Customer" )</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors")
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipType, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.DoB)
        @Html.TextBoxFor(m => m.Customer.DoB, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.DoB)
    </div>

    <div class="form-group">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubbedNewsletter) Subscribed To Newsletter
            @Html.ValidationMessageFor(m => m.Customer.IsSubbedNewsletter)
        </label>

    </div>

    @Html.HiddenFor(m => m.Customer.ID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts {
    @Scripts.Render("~/Bundles/jqueryval")
}