@*@model Vidly.ViewModels.CustomersViewModel*@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Count == 0)
{
    @:No Customers
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <tr style="background:grey; color: white;">
            <th>Name</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink((string)customer.Name, "Edit" @*"Profile"*@, new { id = customer.ID }, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>
                    <button class="btn-link js-delete" data-delete-id="@customer.ID">Delete</button>
                    <button class="btn" data-delete-id="@customer.ID" data-delete-name="@customer.Name">Delete</button>
                </td>
            </tr>
        }

    </table>
}
<div id="modal-container">

</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#customers .js-delete').on("click", function () {
                var _this = $(this);
                if (confirm("Are you sure you want to delete this customer")) {
                    $.ajax({
                        url: "/API/Customers/" + _this.attr("data-delete-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("success")
                            _this.parents("tr").remove();
                        }
                    });
                }
            });

            $('[data-delete-name]').off().on("click", function () {

                var _this = $(this);

                sjModal.confirm(_this.attr("data-delete-name"), "Are you sure you want to delete this customer", function () {
                    console.log("callback")
                    // Ajax shit here
                });
            });

            

        });


    </script>
    }